{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block content %}
<div class="card w-75 mx-auto mt-5 mb-5 p-4">
  <div class="mb-3">
    <label for="fname" class="form-label">First name: </label>
    <input
      class="form-control"
      id="fname"
    />
    <label for="lname" class="form-label">Last name: </label>
    <input
      class="form-control"
      id="lname"
    />
    <label for="exampleFormControlInput1" class="form-label">Email: </label>
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
    />
    <label for="inputPassword5" class="form-label">Password:</label>
    <input
      type="password"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
  </div>
</div>
{% endblock %}
