{% extends 'base.html' %} {% block title %} Volleytalk | Forum {% endblock %}
{% block content %}
<div class="card mt-5 w-75">
  <div class="card-body">
    <h5 class="card-title">{{ post }}</h5>
    <p class="card-subtitle" style="font-size: 12px">by {{ post.author }}</p>
    <p style="font-size: 12px">{{ post.post_date }}</p>
    <p class="card-text">{{ post.body }}</p>
  
    <form method='post' action='{% url "post" id=post.id %}'>
      {% csrf_token %}
      <div class="d-flex">
        <input
        placeholder="Comment: "
        class="form-control"
        id="body"
        aria-describedby="emailHelp"
        name="body"
      />
      <button class="btn btn-primary">Post</button>
      </div>
    </form>
    {% if post.comments.all %}
      <div>
        <h6>Comments</h6>
        {% for comment in post.comments.all reversed %}
        <div class="card card-body mb-2" style="margin: 0">
          <p class="card-subtitle" style="font-size: 12px">
            by {{ comment.author }}
          </p>
          <p style="font-size: 12px">{{comment.post_date}}</p>
          <p class="card-text">{{ comment.body }}</p>
        </div>
        {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}